@media screen and (max-width: 765px) {
  .header-container-content {
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
  }

  .img_edit {
    width: 50%;
    height: 50%;
  }

  .title {
    font-size: 1rem;
    word-wrap: break-word;
    text-align: center;
    width: 80%;
  }

  .content-text {
    font-size: 0.7rem;
    width: 90%;
  }

  .content-tecs {
    flex-wrap: wrap;
    justify-content: center;
  }
  .content-tecs p {
    display: none;
  }

  .content-tecs li img {
    width: 25px;
    height: 25px;
  }

  .projetos-card-content {
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }

  .card-content {
    flex-direction: row;
    width: 85%;
    height: 15%;
    justify-content: space-between;
    align-items: center;
  }

  .card-content p {
    font-size: 0.7rem;
    width: 30%;
    font-weight: bolder;
    margin-right: 1rem;
  }

  .btn50 {
    margin-right: 1rem;
    margin-top: 2rem;
  }

  .img-cards {
    width: 30%;
    height: 80%;
  }

  footer {
    font-size: 1rem;
  }
}

@media screen and (max-width: 652px) {
  .navi ul {
    display: none;
  }

  .navi ul {
    height: 0.5rem;
  }

  .menu-mobile-content {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 0.5rem;
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    text-shadow: 0px -1px 5px rgba(0, 0, 0, 0.6);
    z-index: 20;
  }

  .box1 ul {
    list-style: none;
  }

  .box1 {
    font-size: 1.3rem;
  }

  .box1 a {
    color: rgb(0, 0, 0);
  }
}
