@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.img-respon {
  max-width: 100%;
  min-height: 100%;
}

a {
  text-decoration: none;
}

/*Navegação Inicio*/
.navi {
  background-color: #fffffff3;
  position: fixed;
  z-index: 10;
  width: 100%;
}

.navi ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 3.5rem;
  list-style: none;
}

.navi ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  text-shadow: 0px -1px 5px rgba(0, 0, 0, 0.6);
  transition: 0.4s ease;
}

.navi ul li a:hover {
  color: rgb(63, 124, 194);
  font-size: 1.2rem;
}

.size-content {
  width: 18px;
  height: 18px;
  margin-left: 0.2rem;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.mobile-menu {
  display: none;
}

/*Navegação fim */

/* Inicio header */
.my_profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my_profile a {
  margin-top: 1rem;
  text-decoration: none;
  padding: 0.5rem;
  background-color: white;
  box-shadow: 0px 0px 5px 1px rgb(243, 243, 243);
  border-radius: 0.5rem;
  color: #000000;
  font-weight: bold;
  letter-spacing: 1px;
  transition: 0.5s ease;
}
.my_profile a:hover {
  background-color: #000000;
  color: white;
}
.header-container-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10rem;
  min-height: 100vh;
  width: 100%;
  background-color: #000000;
}

.title {
  width: 30%;
  letter-spacing: 0.5rem;
  font-size: 2.2rem;
  color: white;
}

.title:after {
  content: "|";
  margin-left: 5px;
  opacity: 1;
  animation: pisca 0.7s infinite;
}

/* Animação aplicada ao content referente a classe *.titulo-principal* resultando num efeito de cursor piscando. */

@keyframes pisca {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.img_edit {
  width: 15rem;
  height: 15rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  animation: rotate-i 1s ease-out;
  object-fit: cover;
  box-shadow: 0px 0px 7px 1px rgb(255, 255, 255);
}

/* Fim do Header */

/* Inicio section (1) */
.section-content {
  background-color: #000000;
  height: 100vh;
  width: 100%;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.content-text {
  font-size: 1.8rem;
  background: white;
  width: 40%;
  letter-spacing: 1px;
  font-family: "Cormorant Garamond", serif;
  text-align: left;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  border-radius: 9px 9px 9px 9px;
  padding: 1rem;
  box-shadow: 0px 0px 7px 1px rgb(255, 255, 255);
}

.content-tecs {
  width: 40%;
  display: flex;
  gap: 1rem;
  list-style: none;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

.content-tecs li {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 7px 1px rgb(255, 255, 255);
}

.content-tecs:nth-of-type(1) {
  font-weight: bolder;
  color: rgb(255, 255, 255);
}

.content-tecs img {
  width: 40px;
  height: 40px;
}

.gira {
  animation: loading 2s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Fim da section (1) */

/* ------------Inicio da section (2) // Cards -------------------*/

.projetos-card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #000000;
  width: 100%;
  flex-direction: row;
}

.card-content {
  width: 20%;
  height: 50%;
  margin: 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5px;
  background-color: rgb(240, 235, 235);
  transition-duration: 1s;
  word-wrap: break-word;
  align-items: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0px -1px 8px 1px rgba(255, 255, 255, 1);
  object-fit: cover;
}

.card-content p {
  font-size: 1rem;
  font-weight: bold;
  width: 98%;
}

/* .img-respon {
  padding: 8px 8px;
  width: 100%;
  height: 100%;
} */

/*-------Inicio animação cards-------------------------------------*/
.card-content span:first-of-type {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-image: linear-gradient(to right, transparent, rgb(0, 0, 0));
  animation: animar1 1s linear infinite;
}

@keyframes animar1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.card-content span:nth-of-type(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background-image: linear-gradient(to bottom, transparent, rgb(3, 3, 3));
  animation: animar2 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animar2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.card-content span:nth-of-type(3) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background-image: linear-gradient(to bottom, transparent, rgb(0, 0, 0));
  animation: animar3 1s linear infinite;
}

@keyframes animar3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.card-content span:nth-of-type(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-image: linear-gradient(to top, transparent, rgb(0, 0, 0));
  animation: animar4 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animar4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

/* ------------------------Fim animação Cards ------------------------*/
.btn50 {
  text-decoration: none;
  display: inline-block;
  opacity: 0.7;
  margin-bottom: 1rem;
}

.btn50:hover {
  opacity: 1;
}

.card-content img {
  border-radius: 10%;
}
/* ------------Fim da section (2) // Cards -------------------*/

/*----------- Inicio Footer -------*/
#footer-container {
  background-color: #000000;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 5px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-content p {
  margin-left: 1rem;
  letter-spacing: 0.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 10px;
}

.social-links li {
  margin: 0.5rem;
}

.social-links-img {
  width: 32px;
  height: 32px;
}

/* -----------Fim do Footer------- */

.content-text,
.tecs,
.card-content,
.title,
.img_edit {
  visibility: hidden;
}
